.users-container {
    padding: 4rem 1.8rem;
    padding-bottom: 0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
}

.users-title {
    font-weight: bold;
    font-size: 2rem;
}

.users-box
{
    align-self: center;
    width: 95%;
    max-width: 95ch;
    margin-top: 1.5rem;
    background-color: white;
    padding: 0.8rem 0.8rem;
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: 0.2rem;
}

.users-box-title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.user-item {
    display: grid;
    grid-template-columns: 20% 20% 28% 15% 5%;
    align-items: center;
    font-size: 0.9rem;
    gap: 0.8rem;
    padding: 0 0.2rem;
}

.users-information {
    color: rgb(0, 0, 0, 0.4)
}

.users-prompt {
    margin: 0.6rem 0;
    font-size: 0.9rem;
}