@font-face {
    font-family: 'Open Sans Italic';
    src: url('./style/fonts/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./style/fonts/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./style/fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./style/fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 1.1rem;
    background-color: #e1e2e2;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #336199;
}


#root {
    overflow: auto;
    height: 100%;
}

.content-box {
    height: 100vh;
    display: grid;
    grid: 1fr 2.5rem / 16rem 1fr;
}

.navigation {
    background-color: #272727;
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    overflow-x: hidden;
}

.navigation a {
    color: white;
}

.navigation a:hover {
    color: #81b9ff;
}

.navigation .navigation-logo {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    align-self: center;
    margin: 4.5rem 0.5rem;
}

.navigation-logo span {
    color: #336199;
}

.navigation-link-box {
    background-color: #e1e2e2;
}

.navigation-link {
    background-color: #272727;
    color: white;
    padding: 1.2rem 2.3rem;
    border: 0px;
    border-left: 1.2rem solid #272727;
    transition: transform 0.3s ease-in-out, background-color 0.4s ease-in-out;
}

.navigation-link:has(a.selected)
{
    transition: none;
    background-color: #27374D;
    transform: translateX(0.6rem);
}

.navigation-link:hover:not(:has(a.selected)) {
    background-color: #336199;
    transform: translateX(0.6rem);
}

.navigation-end {
    margin-top: auto;
}

.content-holder {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
}

.footer {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.redirectCaption {
    align-self: center;
}